@font-face {
    font-family: 'pretendard';
    src: url(source/PretendardVariable.woff2);
}

@media (prefers-color-scheme: dark) {
    body {
        --color-text: white;
        --color-background: #1e1e1e;
    }
}

@media (prefers-color-scheme: light) {
    body {
        --color-text: #1e1e1e;
        --color-background: white;
    }
}

/* .night {
    --color-text: white;
    --color-background: #1e1e1e;
    --color-primary: rgb(50, 140, 150);
    --color-primary-opct: rgba(50, 140, 150, 0.1);
}

.day {
    --color-text: #1e1e1e;
    --color-background: white;
    --color-primary: rgb(50, 140, 150);
    --color-primary-opct: rgba(50, 140, 150, 0.1);
} */

html, body {
    --color-primary: rgb(70, 160, 170);
    --color-primary-opct: rgba(70, 160, 170, 0.1);
    color: var(--color-text);
    background-color: var(--color-background);
    font-family: 'pretendard';
    padding: 0;
    margin: 0;
}

h1 {
    width: fit-content;
    padding: 1em 0 0.5em;
    margin: 0;
}

h4 {
    padding: 12px 0;
    margin: 0;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

img  {
    width: 24px;
    border-radius: 999px;
    padding: 4px;
}

main {
    display: flex;
    justify-content: center;
    padding: 0 24px;
}

nav {
    width: 100%;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

nav a {
    color: var(--color-primary);
}

nav a div {
    width: 108px;
    background-color: var(--color-text);
    border-radius: 8px;
    padding: 8px 0 0;
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 100%;
}

.sectionheader {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.languageSelector {
    padding: 8px;
    display: flex;
}

label {
    display: flex;
    align-items: center;
    padding-right: 8px;
}

select {
    width: 100px;
    border: none;
    border-radius: 8px;
    padding: 4px;
    margin: 0 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.translator {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.translator-head {
    display: flex;
}

.tr-head {
    width: 30vw;
    max-width: 360px;
    max-width: 360;
    background-color: rgba(50, 140, 150, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.tr-mid {
    width: 48px;
    display: flex;
    justify-content: center;
}   

.translator-result {
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tr-td {
    width: 30vw;
    max-width: 312px;
    border: var(--color-primary) solid 1px;
    border-radius: 1em;
    padding: 12px 24px;
    margin: 1em 1.5em;
}

#index-tr-from {
    color: gray;
}

#index-tr-to {
    color: var(--color-primary);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row h4, .row p {
    padding: 0;
    margin: 8px 0;
}