@font-face {
    font-family: 'pretendard';
    src: url(source/PretendardVariable.woff2);
}

@media (prefers-color-scheme: dark) {
    body {
        --color-text: white;
        --color-background: #1e1e1e;
    }
}

@media (prefers-color-scheme: light) {
    body {
        --color-text: #1e1e1e;
        --color-background: white;
    }
}

/* .night {
    --color-text: white;
    --color-background: #1e1e1e;
    --color-primary: rgb(50, 140, 150);
    --color-primary-opct: rgba(50, 140, 150, 0.1);
}

.day {
    --color-text: #1e1e1e;
    --color-background: white;
    --color-primary: rgb(50, 140, 150);
    --color-primary-opct: rgba(50, 140, 150, 0.1);
} */

html, body {
    --color-primary: rgb(70, 160, 170);
    --color-primary-opct: rgba(70, 160, 170, 0.1);
    --color-korean: rgb(150, 70, 255);
    --color-english: rgb(255, 10, 55);
    --color-spanish: rgb(255, 175, 0);
    color: var(--color-text);
    background-color: var(--color-background);
    font-family: 'pretendard';
    padding: 0;
    margin: 0;
}

h1 {
    width: fit-content;
    padding: 1em 0 0.5em;
    margin: 0;
}

h2 {
    margin: 0;
    padding: 8px 0;
}

h3 {
    font-weight: 700;
    margin: 0;
}

h4 {
    padding: 12px 0;
    margin: 0;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

img  {
    width: 24px;
    padding: 4px;
}

main {
    display: flex;
    justify-content: center;
    padding: 0 24px;
}

nav {
    width: 100%;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

nav a {
    color: var(--color-primary);
}

nav a div {
    width: 108px;
    background-color: var(--color-text);
    border-radius: 8px;
    padding: 8px 0 0;
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

nav a div:hover {
    bottom: 8px;
    transition: all 1s ease-in-out;
}

.section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionheader {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.languageSelector {
    padding: 8px;
    display: flex;
}

label {
    display: flex;
    align-items: center;
    padding-right: 8px;
}

select {
    width: 100px;
    border: none;
    border-radius: 8px;
    padding: 4px;
    margin: 0 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.translator {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.translator-head {
    display: flex;
}

.tr-head {
    width: 30vw;
    max-width: 360px;
    max-width: 360;
    background-color: rgba(50, 140, 150, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.tr-mid {
    width: 48px;
    display: flex;
    justify-content: center;
}   

.translator-result {
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tr-td {
    width: 30vw;
    max-width: 312px;
    border: var(--color-primary) solid 1px;
    border-radius: 1em;
    padding: 12px 24px;
    margin: 1em 1.5em;
}

#index-tr-from {
    color: gray;
}

#index-tr-to {
    color: var(--color-primary);
}

.row-fill {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-fill h4, .row-fill p {
    padding: 0;
    margin: 8px 0;
}

.row {
    display: flex;
    align-items: center;
}

.admin {
    width: 300px;
    border-radius: 12px;
    padding: 12px 24px;
}

.admin:hover {
    background-color: var(--color-primary-opct);
    cursor: pointer;
}

.admin-header {
    padding: 4px 0;
    display: flex;
    align-items: center;
}

.breadcrumb {
    width: 100%;
}

.adminprofile {
    width: 100%;
    padding-bottom: 80px;
}

.profile-section {
    width: 100%;
    padding: 12px 0;
    margin: 0 0 24px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-icon {
    width: 64px;
    height: 64px;
    background-color: var(--color-text);
    border-radius: 1em;
    padding: 1em;
}

#tags {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#tags img {
    width: 0.8em;
}

.tag {
    display: flex;
    align-items: center;
    border-radius: 999px;
    background-color: var(--color-primary-opct);
    padding: 4px 12px;
    margin: 4px;
}

.tag p {
    font-size: 0.8em;
    text-wrap: nowrap;
    margin: 0;
}

.link {
    display: flex;
    align-items: center;
    border-radius: 999px;
    background-color: var(--color-primary);
    padding: 4px 12px;
    margin: 4px;
}

.link img {
    width: 1em;
}

.link p {
    text-wrap: nowrap;
    margin: 0;
}

#about_context {
    padding: 0 4px;
}

.lang-ratio {
    width: 100%;
    padding: 12px 0;
    display: flex;
}

.lang-ratio div {
    height: 1em;
}

#eneciel-korean {
    background-color: var(--color-korean);
    flex: 5;
}

#eneciel-english {
    background-color: var(--color-english);
    flex: 4;
}

#eneciel-spanish {
    background-color: var(--color-spanish);
    flex: 1;
}

#nabi-korean {
    background-color: var(--color-korean);
    flex: 2;
}

#nabi-english {
    background-color: var(--color-english);
    flex: 4;
}

#nabi-spanish {
    background-color: var(--color-spanish);
    flex: 4;
}

.lang-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 4px 0;
}

.lang-info img {
    width: 16px;
}

.lang-info div div {
    padding: 0 12px;
}

.lang-info div div p {
    margin: 0;
}

#works {
    display: flex;
    flex-wrap: wrap;
}