@font-face {
    font-family: 'pretendard';
    src: url(source/PretendardVariable.woff2);
}

html, body {
    font-family: 'pretendard';
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2em;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 1em;
    padding: 0.4em 1em;
    margin: 0;
}

h4 {
    font-size: 0.9em;
    padding: 0.2em 1em;
    margin: 0;
}

p {
    font-size: 0.8em;
    padding: 0 0.4em;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

button {
    font-weight: 600;
    width: 6vw;
    height: 4vh;
    margin: 0 1em;
}

main {
    width: 90vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 8vh 0;
    margin: 0 auto;
}

.section {
    height: 72vh;
    border: black solid 2px;
    box-sizing: border-box;
    padding: 2em 0;
}

nav {
    width: 90vw;
    margin: 0 auto;
    display: flex;
}

.sectionheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
    margin: 0 auto;
}

.row {
    background-color: aliceblue;
    padding: 1em 2em;
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    padding: 0 0.4em;
}

.languageSelector {
    display: flex;
    padding: 2em 0 0;
}

label {
    display: flex;
    align-items: center;
}

label img {
    padding: 0;
}

select {
    margin: 0 1em;
}

.admin {
    padding: 1em 2em;
}

.admin-header {
    width: 72vw;
    border-bottom: black 2px solid;
    margin-bottom: 1em;
    display: flex;
}

.admin-context {
    padding: 0 1em;
}

.admin-row {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-row p {
    text-align: end;
}

#adminsection {
    height: 46vh;
    overflow-y: scroll;
}

#adminsection::-webkit-scrollbar {
    display: none;
}

.navcontentbox {
    width: 30vw;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 0.4em;
}

.translator {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.translator-row {
    display: flex;
    justify-content: center;
    align-content: center;
}

.tr-head {
    width: 36vw;
    border: blue solid 1px;
    border-radius: 0.6em;
    display: flex;
    align-items: center;
    padding: 0.4em 0;
}

.tr-td {
    width: 36vw;
    height: 24vh;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    padding: 0.4em 0;
    margin: 1em 0;
}

.tr-td p {
    padding: 0.4em 1em;
}
