h1 {
    padding: 0.5em 0;
}

.section {
    width: 100%;
    padding-bottom: 120px;
}

.sectionheader {
    padding: 1em 0;
}

nav {
    padding: 1em 0;
}

nav a div {
    width: 80px;
    padding: 4px 0 8px;
}

nav h4 {
    padding: 0;
}

.translator-result {
    margin: 8px 0;
}

.tr-td {
    width: 100%;
    padding: 8px 16px;
    margin: 4px 0;
}

#tags {
    width: 100%;
}

#links {
    width: 100%;
}