h1 {
    padding: 0.5em 0;
}

.section {
    width: 100%;
}

.sectionheader {
    padding: 1em 0;
}

nav {
    padding: 1em 0;
}

nav a div {
    width: 80px;
    padding: 4px 0 8px;
}

nav h4 {
    padding: 0;
}

.tr-td {
    width: 100%;
    padding: 0 16px;
    margin: 0.5em 0;
}

#tags {
    width: 100%;
}