.translator {
    display: flex;
    justify-content: center;
}

.translator-row {
    display: flex;
    justify-content: center;
    align-content: center;
}

.tr-head {
    width: 16vw;
    border: blue solid 1px;
    display: flex;
    align-items: center;
    padding: 0.4em 0;
}

